.nav{
    background-color: #9a5927;
    position: fixed;
    width: 100%;
    height: 50px;

}

#bk{
    z-index: -1;
}
img{
    margin-left: auto;
    margin-right: auto;
    display: block;}

ul li{   
    float: left;
    display: block;
    background-color: #9A5927;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 15pt;   
}

ul li a{
    font-family: "Microsoft JhengHei","Heiti TC","WenQuanYi Zen Hei","PMingLiU";
    color: #f9f59a;
    text-align: center;
    text-decoration: none;    
}

ul li ul{
    display: none;
    z-index: 1;
}

ul li ul ui{
    width: 150px;
}


ul li:hover ul{
    display: block;
}

ul li:hover{
    background-color: #ba7947;}
ul lu ul li:hover{
    background-color: #f9f59a;}
h4{
    background-color: #9A5927;
    color: #f9f59a;
    font-size: 18pt;
    padding: 10px;
    width: 45%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-family: "Microsoft JhengHei","Heiti TC","WenQuanYi Zen Hei","PMingLiU";
    
}

h2{
    font-size: 16pt;
    text-align: center;
    color: #9A5927;
    font-weight: bold;
    font-family: "Microsoft JhengHei","Heiti TC","WenQuanYi Zen Hei","PMingLiU";
}
.ppp{
    font-size: 14pt;
    padding: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
    text-align: center;
    font-family: "Microsoft JhengHei","Heiti TC","WenQuanYi Zen Hei","PMingLiU";
}

.pp
{   font-size: 14pt;
    padding: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
    font-family: "Microsoft JhengHei","Heiti TC","WenQuanYi Zen Hei","PMingLiU";
}


    